<p id="notice"><%= notice %></p>

<p>
  <strong>Update text:</strong>
  <%= @assignment_update.update_text %>
</p>

<%= link_to 'Edit', edit_assignment_update_path(@assignment_update) %> |
<%= link_to 'Back', assignment_updates_path %>
