<%= render('links') %>
<p>
  <strong>Status:</strong>
  <%= @assignment_status.status %>
</p>
<p>
  <strong>Close state:</strong>
  <%= @assignment_status.close_state %>
</p>

<%= link_to 'Edit', edit_assignment_status_path(@assignment_status) %> |
