<p>Hej <%= @resource.email %>!</p>

<p>Någon har begärt en länk för att ändra ditt lösenord. Du kan göra det via länken nedan.</p>

<p><%= link_to 'Ändra mitt lösenord', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Om du inte har begärt detta, ignorera detta meddelande.</p>
<p>Ditt lösenord ändras inte förrän du klickar på länken ovan och skapar ett nytt.</p>
