<div class="menu">
<%= link_to t('Add input'), { :action => 'add_fee_transaction' }, id: @fee %> |
<%= link_to t('Calculate debt'), { :action => 'check_fee' }, id: @fee %> |
<%= link_to t('Fee report'), { :action => 'fee_report' }, id: @fee %> 
</div>

